/** {*/
/*	scrollbar-width: none; !* Firefox *!*/
/*}*/

.navbar {
	background-color: #262626;
	color: #ffffff;
	border-bottom: 0.0005em solid rgba(255, 255, 255, 0.07);
}

.navbar-brand {
	color: #ffffff !important;
}

.toggle-button {
	background-color: #262626;
	width: 24px;
	height: 24px;
}

.toggle-icon {
	width: 24px;
	height: 24px;
}

.main-container {
	height: calc(100vh - 56px);
}

.main-row {
	height: 100%;
	display: flex;
	color: rgba(255, 255, 255, 0.91);
	background-color: #3f3f3f
}

.sidebar-column.show {
	display: inline-block;
	min-width: fit-content;
}

.sidebar-column.hide {
	display: none;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden; /* prevent whole page from scrolling */
}

.sidebar-column {
	border: none;
	/*border-right: 1px solid #ffffff;*/
	background-color: #262626;
	transition: width 0.3s;
	overflow-y: scroll; /* enable vertical scrolling on sidebar column */
	height: calc(100vh - 56px); /* set height to 100% of viewport height */
	width: fit-content;
}

.sidebar {
	height: 100%;
	width: fit-content;
}

/*.sidebar-header {*/
/*	background-color: #262626;*/
/*	color: #ffffff;*/
/*	justify-content: center;*/
/*}*/

.main-content {
	transition: margin-left 0.3s;
	flex: 1; /* make main content grow to take up remaining space */
}

.chat-section {
	height: 80%;
}

.chat-input-section {
	height: 20%;
}


/* Width */
::-webkit-scrollbar {
	width: 10px;
	/*background: transparent;*/
	/*background: #302e2e;*/

}

/* Handle */
::-webkit-scrollbar-thumb {
	/*background: transparent;*/
	background: #1b1919;
	border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	/*background: transparent;*/
	background: #302e2e;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	border-radius: 10px;
	background: #1b1919;
}