.rotate {
	transform: rotate(90deg);
}

.hide-footer {
	display: none;
}

.navbar {
	background-color: #1b1a1a;
	color: #ffffff;
	border-bottom: 0.0005em solid rgba(255, 255, 255, 0.07);
}

.navbar-brand {
	color: #ffffff !important;
}

.toggle-button {
	background-color: #262626;
	width: 24px;
	height: 24px;
}

.toggle-icon {
	width: 24px;
	height: 24px;
	transform: scaleX(-1);
}

.toggle-icon.rotate {
	transform: scaleX(-1) rotate(270deg);
}

.main-container {
	height: calc(100vh - 56px);
}

.main-row {
	height: 100%;
	display: flex;
	color: rgba(255, 255, 255, 0.91);
	background-color: #232323;;
}

.sidebar-column.show {
	display: inline-block;
	min-width: fit-content;
}

.sidebar-column.hide {
	display: none;
}

body {
	margin: 0;
	overflow: hidden;
	font-family: Consolas, sans-serif;
	background-color: #1b1a1a;
}

.sidebar-column {
	border: none;
	background-color: #1c1c1c;
	transition: width 0.3s ease-in-out 0s;
	overflow-y: scroll;
	height: calc(100vh - 56px);
	width: fit-content;
}

.sidebar {
	height: 100%;
	width: fit-content;
	min-width: 180px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.sidebar-header {
	align-self: center;
	margin: 10px;
	width: 80%;
	height: 10%;
}

.sidebar-header Button {
	width: 100%;
	background: #303030;
	box-shadow: none;
	outline: none;
	border: none;
}

.sidebar-header Button:hover {
	background: #303030;
	width: 100%;
	box-shadow: none;
	outline: none;
	border: none;
	transform: scale(1.2);
	transition: transform 0.3s ease-in-out 0s;
}

.sidebar-header Button:focus:active {
	background: #303030;
	width: 100%;
	box-shadow: none;
	outline: none;
	border: none;
}

.sidebar-content {
	align-self: center;
	width: 80%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 80%;
	overflow-y: auto;
}

.sidebar-content Button {
	width: 100%;
	background: #303030;
	box-shadow: none;
	outline: none;
	border: none;
}

.sidebar-content Button:hover {
	background: #303030;
	width: 100%;
	box-shadow: none;
	outline: none;
	border: none;
	/*transform: scale(1.2);*/
	/*transition: transform 0.3s ease-in-out 0s;*/
}

.sidebar-content Button:focus:active {
	background: #303030;
	width: 100%;
	box-shadow: none;
	outline: none;
	border: none;
}

.sidebar-content::-webkit-scrollbar {
	width: 0;
}

.sidebar-content::-webkit-scrollbar-thumb {
	background: none;
	border-radius: 0;
}

.sidebar-content::-webkit-scrollbar-track {
	background: none;
	border-radius: 0;
}

.sidebar-content::-webkit-scrollbar-thumb:hover {
	border-radius: 0;
	background: none;
}

.sidebar-footer {
	align-self: center;
	margin: 10px;
	width: 80%;
	height: 10%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.sidebar-footer Button {
	width: 100%;
	background: #303030;
	box-shadow: none;
	outline: none;
	border: none;
}

.sidebar-footer Button:hover {
	background: #303030;
	width: 100%;
	box-shadow: none;
	outline: none;
	border: none;
	transform: scale(1.2);
	transition: transform 0.3s ease-in-out 0s;
}

.sidebar-footer Button:focus:active {
	background: #303030;
	width: 100%;
	box-shadow: none;
	outline: none;
	border: none;
}

.main-content {
	transition: margin-left 0.3s;
	flex: 1;
}

.chat-section {
	height: 85%;
	padding: 2px 2px 0;
	text-align: center;
	display: flex;
	position: relative;
	justify-content: center;
}

.chat-input-section {
	height: 10%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 10px;
	margin: 10px;
}

.main-content footer {
	position: relative;
	height: 4%;
	color: #ffffff;
	bottom: 1%;
	text-align: center;
}

.chat-input-field {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: space-between; /* This will push the items to the ends of the container */
	background-color: #1c1c1c;
	min-width: 55%;
	width: calc(100% - 55%);
	border-radius: 30px;
	bottom: 1%;
}

.file-link {
	margin: 2px;
	width: 20px;
	border: none;
	padding: 0 40px 0 1px;
	align-self: flex-end; /* Align this item to the end of the column */
}

.file-link Button {
	background: none;
	color: #ffffff;
	border: none;
}

.file-link Button:hover {
	background: none;
	color: #ffffff;
	transform: scale(1.1);
	transition: transform 0.3s ease-in-out 0s;
}

.file-link Button:active:focus {
	background: none;
	color: #ffffff;
}

.chat-input {
	flex: 1;
	border: none;
	color: rgba(255, 255, 255, 0.59);
	min-height: 40px;
	padding: 0;
	max-height: 150px;
}

.chat-input textarea {
	position: absolute;
	background-color: transparent;
	width: calc(100% - 20%);
	max-height: 140px;
	bottom: 0;
	height: 40px;
	min-height: 40px;
	padding: 5px 2px 5px 15px;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	resize: none;
	overflow-y: hidden;
	font-family: Consolas, sans-serif;
	color: #d6d6d6;
	text-align: justify;
}

.chat-input textarea:active, .chat-input textarea:focus {
	outline: none;
	color: #d6d6d6;
}

.chat-input textarea::-webkit-scrollbar {
	background: transparent;
}

.chat-input textarea::-webkit-scrollbar-thumb {
	background: transparent;
}

.chat-input textarea::-webkit-scrollbar-track {
	background: transparent;
}

.chat-input textarea::-webkit-scrollbar-thumb:hover {
	background: transparent;
}

.chat-button {
	margin: 2px;
	border: none;
	padding-right: 60px;
	align-self: flex-end; /* Align this item to the end of the column */
}

.chat-button Button {
	background: none;
	color: #ffffff;
	border: none;
}

.chat-button Button:hover {
	background: none;
	color: #ffffff;
	transform: scale(1.1);
	transition: transform 0.3s ease-in-out 0s;
}

.chat-button Button:active:focus {
	background: none;
	color: #ffffff;
}

.chat-area {
	display: flex;
	justify-content: space-between;
	background-color: #1c1c1c;
	min-width: 65%;
	width: 100%;
	border-radius: 30px;
	min-height: 87%;
	position: relative;
	overflow: hidden;
}

.chat-box {
	position: absolute;
	top: 10px; /* Adjust margin as needed */
	bottom: 10px; /* Adjust margin as needed */
	left: 10px; /* Adjust margin as needed */
	right: 10px; /* Adjust margin as needed */
	overflow-y: auto;
	padding: 10px; /* Optional padding inside the chat-box */
	box-sizing: border-box;
}

.chat-card {
	display: flex;
	margin: 10px 0;
}

.user-message {
	justify-content: flex-end;
	text-align: right;
}

.system-message {
	justify-content: flex-start;
	text-align: left;
}

.message-text {
	max-width: 60%;
	padding: 10px;
	border-radius: 10px;
	background-color: #191919;
	text-align: left; /* Center-align the text */
	white-space: pre-wrap; /* Preserve formatting */
}

.user-message .message-text {
	background-color: #191919;
	min-width: 100px;
}

.system-message .message-text {
	background-color: #191919;
}

@media screen and (width < 768px) {
	.chat-section {
		height: 75%;
	}
	.chat-input-section {
		height: 15%;
	}
	.chat-input-field {
		position: absolute;!important;
		width: 100%;
		bottom: 30%;
	}
	.main-content footer{
		bottom: 3%;
		text-align: center;
	}
	.chat-button {
		padding-right: 63px;!important;
	}
	.chat-input-field textarea {
		width: calc(100% - 31%);
		text-align: left;
	}
	.chat-area {
		min-height: 75%;
	}
}

/* Width */
::-webkit-scrollbar {
	width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #171717;
	border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #252525;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	border-radius: 10px;
	background: #131313;
}

.file-link Button:active, .chat-button Button:active {
	background-color: transparent !important;
	border-color: transparent !important;
}

.file-link Button:focus, .chat-button Button:focus {
	box-shadow: none !important;
}

.sidebar-header Button:active, .sidebar-content Button:active {
	background-color: #303030 !important;
	border-color: transparent !important;
}

.sidebar-header Button:focus, .sidebar-content Button:focus {
	background-color: #303030;
	box-shadow: none !important;
}